<div class="h-screen w-screen">
  <h1 class="text-center text-6xl text-[#620000] font-bold mt-14 mb-10">
    {{ title }}
  </h1>
  <p class="text-2xl text-center pb-2">The lottery is currently {{ lotteryState }}.</p>

  <p *ngIf="tokenBalance" class="text-2xl text-center py-3">You have {{ tokenBalance }} tokens in your account. Place some bets!</p>
  <p *ngIf="!tokenBalance" class="text-2xl text-center py-3">You have 0 tokens in your account. Top up to place bets.</p>

  <p *ngIf="lotteryAddress" class="text-2xl text-center py-3">Lottery Contract is at address {{ lotteryAddress }}</p>

  <div *ngIf="state" class='flex justify-center flex-col'>
    <p class="py-3 text-2xl text-center">
      The lottery should close at {{ closingTimeDate }}
    </p>
    <div class="flex flex-row justify-center items-center py-8 space-x-10">
      <button
        type="button"
        (click)="topUpAccount(0)"
        class="py-4 px-7 bg-[#800000] text-white rounded-lg"
      >
        Top Tokens
      </button>
      <button
        type="button"
        (click)="checkPrize()"
        class="py-4 px-7 bg-[#800000] text-white rounded-lg"
      >
        Check Prize
      </button>
      <button
        type="button"
        (click)="withdraw()"
        class="py-4 px-7 bg-[#800000] text-white rounded-lg"
      >
        Withdraw Tokens
      </button>
      <button
        type="button"
        (click)="closeBets()"
        class="py-4 px-7 bg-[#800000] text-white rounded-lg"
      >
        Close Bets
      </button>
      <button
        type="button"
        (click)="burnTokens()"
        class="py-4 px-7 bg-[#800000] text-white rounded-lg"
      >
        Burn Tokens
      </button>
    </div>
  </div>

  <div *ngIf="!state" class='flex justify-center flex-col'>
    <div class="flex flex-row justify-center items-center py-8 space-x-10">
      <button
        type="button"
        (click)="topUpAccount(0)"
        class="py-4 px-7 bg-[#800000] text-white rounded-lg bg-gradient-to-r"
      >
        Top Tokens
      </button>
      <button
        type="button"
        (click)="openBets()"
        class="py-4 px-7 bg-[#800000] text-white rounded-lg"
      >
        Open Bets
      </button>
      <button
        type="button"
        (click)="checkPrize()"
        class="py-4 px-7 bg-[#800000] text-white rounded-lg"
      >
        Check Prize
      </button>
      <button
        type="button"
        (click)="burnTokens()"
        class="py-4 px-7 bg-[#800000] text-white rounded-lg"
      >
        Burn Tokens
      </button>
    </div>
  </div>

</div>
