/backend/node_modules
/backend/.yarn
/backend/cache
/backend/.idea
.DS_Store

/frontend/.yarn
/frontend/.angular/cache
/frontend/node_modules
/frontend/.vscode/*

/frontend/.env
/frontend/src/environments/environment.ts